* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
.navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #131313;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
  z-index: 1;
}

body {
  background-color: #141414;
}
a[target] {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  line-height: 75px;
}
.navbar-logo {
  margin-top: 2px;
  z-index: 1;
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  animation: pulse 2s infinite;
}
/* .animation {
  display: none;
  z-index: 0;
  position: relative;
  height: 100px;
  width: auto;
  top: -9px;
  left: -118px;
} */
.item-list {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}
.navbar-logo:hover {
  filter: blur(0.7px);
  color: rgba(0, 47, 255, 0.541);
  animation: pulse 2s infinite;
}

/* @-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 47, 255, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
} */

.navbar-links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  width: 100%;
}
.navbar-links:hover {
  background: rgb(0, 47, 255);
  transition: all 0, 5s ease-in-out;
  font-size: 1.6rem;
  margin-bottom: 0;
  border-radius: 4px;
}

@media screen and (max-width: 960px) {
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .navbar-logo {
    padding: 0 25px;
  }
  .item-list {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
    background: #131313;
  }
  .item-list.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }
  .navbar-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }
  .navbar-item {
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
  }
  /* Box area is bigger than the button class, dunno yet how to fix this*/
  .navbar-links {
    text-align: center;
    padding: 1.5rem;
    width: 100%;
    display: flex;
    border-radius: 4px;
    background: solid transparent;
  }
  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
  .navbar-toggle .bar {
    display: block;
    cursor: pointer;
  }
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
/* Slide*/
.slideshow-container {
  width: 500px;
  margin: auto;
  position: relative;
}
.slide {
  display: none;
}
.number-text {
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* Intro */
.intro-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  max-width: 1300px;
  margin: 0 auto auto;
  height: 90hv;
  z-index: 1;
  padding: 0 50px;
}
.intro-content h1 {
  margin-top: 1rem;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #180ada;
  background-image: linear-gradient(
    to right,
    #cc1313c4 0%,
    rgba(224, 39, 39, 0.315) 100%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.intro-content p {
  display: flex;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  background-color: #e2291c;
  background-image: linear-gradient(to right, #0e0bc2c4 0%, #21d4 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.intro-image {
  text-align: center;
}
.intro2-image {
  margin-top: 50px;
  width: 100%;
  padding-right: 10px;
  border-radius: 4%;
}
#main-img {
  padding-top: 1rem;
  width: 100%;
  height: auto;
  border-radius: 4%;
}
.main-btn {
  font-size: 1rem;
  background-image: linear-gradient(to right, #0e0bc2c4 0%, #21d4 100%);
  padding: 14px 32px;
  border: none;
  border-radius: 4%;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}
.main-btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}
.main-btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(
    to right,
    #cc1313c4 0%,
    rgba(224, 39, 39, 0.315) 100%
  );
  transition: all 0.35s;
  border-radius: 4px;
}
.main-btn:hover {
  color: #fff;
}
.main-btn:hover:after {
  width: 100%;
}
@media screen and(max-width: 768px) {
  .intro-container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 90vh;
  }
  .intro-content {
    text-align: center;
    margin-bottom: 2rem;
  }
  .intro-content h1 {
    padding-right: 5%;
    font-size: 2.5rem;
    margin-top: 2rem;
  }
  .intro-content p {
    font-size: 2rem;
  }
  .main-btn {
    padding: 12px 36px;
    margin: 2.5rem;
  }
}
/* Specs page */
.content-container {
  width: 800px;
  height: auto;
  margin-left: auto;
  margin-right: 1300px;
}
.games {
  width: 800px;
  height: auto;
  padding-left: 50%;
  margin-left: auto;
  margin-right: auto;
}
.content-container p:first-child {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 20px;
  background-color: #180ada;
  background-image: linear-gradient(
    to right,
    #cc1313c4 0%,
    rgba(224, 39, 39, 0.315) 100%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.content-container p:last-child {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  margin-bottom: 20px;
}
/* .games-images {
  display: flex;
} */
.a,
.b,
.c,
.d,
.e,
.f,
.g {
  padding: 0 1rem;
  position: relative;
  -webkit-animation: linear infinite alternate;
  -webkit-animation-name: move;
  -webkit-animation-duration: 10s;
  width: 100px;
  height: auto;
}
/* Artificiu vizual...*/
@-webkit-keyframes move {
  0% {
    left: 0;
  }
  50% {
    left: 25%;
  }
  100% {
    left: 50%;
  }
}
/* .a:hover,
.b:hover,
.c:hover,
.d:hover,
.e:hover,
.f:hover,
.g:hover {
  display: flex;
  width: 200px;
  height: 130px;
} */
.playstation {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.playstation p:last-child {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
}
.specs-container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.image-ps {
  align-items: center;
  display: flex;
  width: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.image {
  width: 200px;
  height: auto;
  padding-bottom: 30px;
}

.vip,
.pc,
.peripherals {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}

/* Mobile specs page*/
@media screen and (max-width: 960px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
  }
  .content-container {
    font-size: 1rem;
    display: grid;
    justify-content: space-between;
  }
  .games-images {
    display: flex;
  }
  .a,
  .b,
  .c,
  .d,
  .e,
  .f,
  .g {
    -webkit-animation-name: none;
    padding-left: auto;
  }

  .specs-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Prices page */
.price-container {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.price-items {
  list-style: none;
  border-style: solid;
  border-radius: 4px;
  border-color: #fff;
}
.price-links {
  text-align: center;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* Contact page */
.social_media-container {
  width: 500px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}
.social_media-list {
  display: flex;
  justify-content: space-between;
}

.social_media-item {
  list-style: none;
  align-items: center;
}
.contact-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-text p:first-child {
  padding-top: 50px;
  padding-right: 30px;
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  background-color: #180ada;
  background-image: linear-gradient(
    to right,
    #cc1313c4 0%,
    rgba(224, 39, 39, 0.315) 100%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.contact-text p:last-child {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  position: relative;
  left: 100%;
  bottom: 150%;
}
.location-placeholder {
  width: 900px;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
.placeholder-image {
  width: 100%;
}
